<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhereDoesItBern?</title>

  <!--for local-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/vendor/css/boostrap.css">
  <link rel="stylesheet" type="text/css" href="/vendor/css/boostrap2.css">
  <link rel="stylesheet" type="text/css" href="/vendor/css/mapbox.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

  <!-- link to google fonts-->
  <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet'
        type='text/css'>
  <script type="text/javascript" src="/vendor/javascript/jquery.js"></script>
  <script type="text/javascript" src="/vendor/javascript/bootstrap.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="/vendor/javascript/mapbox.js"></script>
  <script type="text/javascript" src="/javascripts/globe_tweet.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/vendor/javascript/require.js"></script>
  
</head>
<body>


<div class="container">
  <div class="row">
    <div class="headerText"> Where Does It Bern?</div>
    <div class="col-md-6">

      <div id="startbutton" class="btn-lg col-md-offset-5 col-md-6 col-sm-4">
        <h4> Click Here To Feel The Bern </h4>
      </div>
      <div id="wait-msg">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <div class="row" id="left-scroll">
        <div class="col-xs-12 col-md-12 list-of-tweets">
          <div id="tweetd"></div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div id="map"></div>
      <br>
    </div>

    <div class="">
      <h2 id="reference">Learn more about the creator of this tool at
        <a href="http://www.yonibinstock.com" id="link" target="_blank"> www.yonibinstock.com </a>
      </h2>
    </div>
  </div>
</div>
</body>

<script type="text/javascript" charset="utf-8">

  globeTweet.renderMap();

  $("#startbutton").on("click", function() {

    globeTweet.startStream();
  })

</script>
</html>