body {
  background-color: #00c6ff;
}

.headerText {
  padding-bottom: 40px;
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

.page-content {
  margin-top: 50px;
}

#left-scroll {
  height: 315px;
  margin-top: 25px;
}

.fa-spinner {
  text-align: center;
}

.clr:after {
  clear: both;
  content: "";
  display: block;
}

a {
  color: white;
}

a:hover {
  color: rgb(243, 244, 41);
}

h1 {
  margin-top: 30px;
}

#reference {
  color: white;
  font-size: 15px;
  text-align: center;
}

.footer {
  width: 100%;
  bottom: 0;
}

#link {
  text-decoration: underline;
}

h4 {
  margin-bottom: 10px;
  color: white;
}

#startbutton {
  border-top: 1px solid #FF630A;
  background: #FF630A;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin-left: 36%;
  margin-top: 5%;
  z-index: 999;
  font-family: sans-serif;
}

.button:hover {
  border-top-color: #f9fcfc;
  background: #f9fcfc;
  color: #cccccc;
}

.button:active {
  border-top-color: #deb562;
  background: #deb562;
}

.leaflet-popup-content {
  font-size: 10px;
  border-radius: 25px;
  font-family: Helvetica;
  /*font-family: "Arial Black", Gadget, sans-serif;*/
  font-style: normal;
  font-variant: normal;

}

@media only screen
and (min-device-width: 320px) and (max-device-width: 680px) {
  .leaflet-popup-content {
    max-width: 250px;
    font-size: 10px;
    padding: 1px 4px 1px;
  }
  #startbutton {
    margin-left: 22%;
  }

}

.leaflet-popup-content-wrapper {
  border-radius: 25px;
}

.message {
  margin-top: 20px;
  margin-bottom: -10px;
  color: #fc4607;
  font-family: "Arial Black", Gadget, sans-serif;
  font-style: normal;
  font-variant: normal;
}

form {
  margin-top: 15px;
  margin-bottom: 80px;
}

p {
  color: black;
  font-size: 20px;
}

input {
  color: black;
}

.sign-log {
  margin-top: 30px;
  margin-bottom: 40px;
}

.sign-log input {
  margin-top: -15px;
}

.sign-log p {
  margin-top: 10px;
}

.sign-log-btn {
  margin-bottom: -30px;
}

#tweet-count {
  display: none;
}

#counter {
  display: inline;
}

#wait-msg {
  display: none;
  margin-top: -10px;
  margin-bottom: 20px;
}

.show-wait-msg {
  display: block !important;
  position: relative;
  width: 100px;
  margin-left: 45%;
  top: 10px;
  font-size: 24px;
  color: white;
}

#tweetd img {
  float: left;
  width: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

.list-of-tweets {
  height: 280px;
  overflow: hidden;
}

#tweetd div {
  margin-bottom: 20px;
}

#map {
  position: relative;
  height: 389px;
}

#four-oh-four {
  margin-top: 40px;
  text-align: center;
}

.btn {
  background-color: #fc4607;
  color: #ffffff;
}

.buttonClass {
  width: 30px;
  height: 40px;
  padding: 10px 60px;
  display: inline;
}

body {
  position: relative;
}

b, strong {
  color: silver;
}

.left-side {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Bernie_Sanders_by_Gage_Skidmore.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  top: 0;
  left: 0;
}

